  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
    background-color: rgb(173, 233, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #root {
    height: 100%;
  }
  
  .avatar-image {
    flex: 1;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .form-login {
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 0.3em;
  }

  .title {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .card {
    width: 300px;
  }

  .container-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }

  .search {
    margin-bottom: 2em;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .card {
    max-width: 200px;
    min-height: 200px;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .card-double {
    max-width: 300px;
    min-height: 300px;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .card-content {
    text-align: center;
  }

  .card-actions {
    justify-content: center;
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 100%;
  }
